<!DOCTYPE html>
<html lang="en" ng-app="diplomski-fvoska">
    <head>
        <base href="/">

        <!--<meta name="google-site-verification" content=""/>-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="theme-color" content="#337ab7">
        <link rel="manifest" href="manifest.json">
        <link rel="icon" type="image/png" href="images/icons/icon-circle-thin-shadow-192.png">

        <title ng-cloak ng-bind="trans(title) + titleDetail + ' - ' + trans('application_title')">Diplomski projekt</title>

        <link href="css/style.min.css" rel="stylesheet">
        <script src="js/app.min.js"></script>

    </head>

    <body>

        <div id="wrapper" class="ng-cloak" ngCloak>

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">{{ trans('toggle_nav') }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img class="appIcon" src="images/icons/icon-simple-192.png" />{{trans('application_title')}}</a>
                    </div>
                    <!-- /.navbar-header -->

                    <ul class="nav navbar-top-links navbar-right">
                        <!--<li>
                            <button onclick="window.history.back();" type="button" class="btn btn-md btn-link btn-nav">
                              <i class="fa fa-arrow-left fa-fw"></i> {{ trans('back') }}
                            </button>
                            <button onclick="window.history.forward();" type="button" class="btn btn-md btn-link btn-nav">
                              {{ trans('forward') }} <i class="fa fa-arrow-right fa-fw"></i>
                            </button>
                        </li>-->
                        <li ng-if="!loggedIn">
                            <a id="login" href="login">{{trans('login')}}</a>
                        </li>
                        <li ng-if="!loggedIn">
                            <a id="register" href="register">{{trans('registration')}}</a>
                        </li>
                        <li class="dropdown" ng-if="loggedIn">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user-secret fa-fw"></i>
                                {{ email }}
                                &nbsp;<i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="panel">
                                        <i class="fa fa-cogs fa-fw"></i>
                                        {{ trans('panel') }}</a>
                                </li>
                                <li ng-if="adminHasRoles(stateInfo('tokens').requiresRoles)">
                                    <a href="tokens">
                                        <i class="fa fa-key fa-fw"></i>
                                        {{ trans('manage_tokens') }}</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/" onclick="logOut()">
                                        <i class="fa fa-sign-out fa-fw"></i>
                                        {{ trans('log_out') }}</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <li>
                            <div id="flagContainer">
                                <img class="flag" ng-class="{dim: config.language != 'hr'}" ng-click="changeLanguage('hr')" src="images/flags/hr.png" />
                                <img class="flag" ng-class="{dim: config.language != 'en'}" ng-click="changeLanguage('en')" src="images/flags/en.png" />
                            </div>
                        </li>
                        <!-- /.dropdown -->
                    </ul>
                    <!-- /.navbar-top-links -->
                </div>

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="/" id="home" class="active">
                                    <i class="fa fa-home fa-fw"></i>
                                    {{ trans('home') }}</a>
                            </li>
                            <li>
                                <a href="users" id="users">
                                    <i class="fa fa-users fa-fw"></i>
                                    {{ trans('users') }}</a>
                            </li>
                            <li>
                                <a href="requests" id="requests">
                                    <i class="fa fa-file-text fa-fw"></i>
                                    {{ trans('requests') }}</a>
                            </li>
                            <li>
                                <a href="errors" id="errors">
                                    <i class="fa fa-exclamation-circle fa-fw"></i>
                                    {{ trans('errors') }}</a>
                            </li>
                            <li>
                                <a href="networks" id="networks">
                                    <i class="fa fa-share-alt fa-fw"></i>
                                    {{ trans('networks') }}</a>
                            </li>
                            <li ng-show="loggedIn">
                              <a href="#"><i class="fa fa-wrench fa-fw"></i> {{ trans('administration') }}<span class="fa arrow"></span></a>
                              <ul class="nav nav-second-level">
                                <li>
                                    <a href="panel" id="panel">
                                        <i class="fa fa-cogs fa-fw"></i>
                                        {{ trans('panel') }}</a>
                                </li>
                                <li ng-if="adminHasRoles(stateInfo('admins').requiresRoles)">
                                    <a href="admins" id="admins">
                                        <i class="fa fa-user-secret fa-fw"></i>
                                        {{ trans('admins') }}</a>
                                </li>
                                <li ng-if="adminHasRoles(stateInfo('tokens').requiresRoles)">
                                    <a href="tokens" id="tokens">
                                        <i class="fa fa-key fa-fw"></i>
                                        {{ trans('manage_tokens') }}</a>
                                </li>
                              </ul>
                              <!-- /.nav-second-level -->
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">
                <div ui-view id="contentContainer" class="fader"></div>
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

    </body>

</html>
