<div id="networksContainer" ng-controller="networksCtrl">
    <br>

    <div class="row">
        <div class="col-xl-8 col-lg-10 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ trans(title) }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>{{ trans('network_name') }}</th>
                                <th>{{ trans('network_mask') }}</th>
                                <th>{{ trans('actions') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input id="inputName" type="text" class="form-control btn-ajax" placeholder="{{trans('placeholder_network_name')}}" ng-model="newName"></td>
                                <td><input id="inputMask" type="text" class="form-control btn-ajax" placeholder="{{trans('placeholder_network_mask')}}" ng-model="newMask"></td>
                                <td>
                                    <a class="btn btn-success btn-ajax" ng-click="addNet(newName, newMask, true)">{{ trans('add') }}</a>
                                </td>
                            </tr>
                            <tr ng-repeat="n in nets">
                                <td><input type="text" class="form-control btn-ajax" ng-model="n.name"></td>
                                <td><input type="text" class="form-control btn-ajax" ng-model="n.mask"></td>
                                <td>
                                    <a class="btn btn-primary btn-ajax" ng-click="updateNet(n.id, n.name, n.mask, n.allowed)">{{ trans('save_changes') }}</a>
                                    <a class="btn btn-danger btn-ajax" ng-click="deleteNet(n.id)">{{ trans('delete') }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
