<div id="requestsContainer" ng-controller="requestsCtrl">
    <br>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ trans(title) }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <requests></requests>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
