<div id="requestsContainer" ng-controller="requestsCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ trans('requests-details') + ' ' + trans('details_lower') }}</h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('request_id') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="requestID"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="requestID" class="fader2" ng-bind="requestID"></span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('user') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="userID"><i class="fa fa-spinner fa-spin"></i></span>
            <a href="users/{{ userID }}" ng-if="userID" class="fader2" ng-bind="name"></a>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('req_time') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="requestTime"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="requestTime" class="fader2" ng-bind="requestTime.toISOString() + ' (' + requestTime.toLocaleString() + ')'"></span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('req_processing') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="processingTime"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="processingTime == '-'" class="fader2">-</span>
            <span ng-if="processingTime && processingTime != '-'" class="fader2" ng-bind="processingTime.toLocaleString() + 's'"></span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('req_word_count') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="wordCount >= 0"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="wordCount >= 0" class="fader2" ng-bind="wordCount.toLocaleString()"></span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('req_text_file') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="textFile"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="textFile" class="fader2">
              <span ng-if="!text">{{ textFile }}</span>
              <a href="#" ng-if="text" ng-click="toggleText()">{{ textFile }}</a>
            </span>
            <div id="textContainer" style="display: none;">
              {{ text }}
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('num_errors') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="numberOfMistakes >= 0"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="numberOfMistakes >= 0" class="fader2" ng-bind="numberOfMistakes.toLocaleString()"></span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('num_errors_distinct') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="numberOfUniqueMistakes >= 0"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="numberOfUniqueMistakes >= 0" class="fader2" ng-bind="numberOfUniqueMistakes.toLocaleString()"></span>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row" ng-show="numberOfMistakes > 0">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ trans('errors_req') }} {{ requestID }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-requests-errors">
                            <thead>
                                <tr>
                                    <!--<th>error_id</th>-->
                                    <th>{{ trans('suspicious_word') }}</th>
                                    <th>{{ trans('error_type') }}</th>
                                    <th>{{ trans('num_occur') }}</th>
                                    <th>{{ trans('actions') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <!--<th>error_id</th>-->
                                    <th>suspicious_word</th>
                                    <th>{{ trans('error_type') }}</th>
                                    <th>{{ trans('num_occur') }}</th>
                                    <th class="bottomRight">{{ trans('actions') }}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
