<div id="requestsList" class="dataTable_wrapper" ng-controller="requestsListCtrl">
    <table class="table table-striped table-bordered table-hover" id="dataTables-requests">
        <thead>
            <tr>
                <!--<th>request_id</th>-->
                <th>req_time</th>
                <th>req_processing</th>
                <th>user</th>
                <th>num_errors</th>
                <th>req_word_count</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <!--<th>request_id</th>-->
                <th>req_time</th>
                <th>req_processing</th>
                <th>user</th>
                <th>num_errors</th>
                <th>req_word_count</th>
                <th class="bottomRight">actions</th>
            </tr>
        </tfoot>
    </table>
</div>
<!-- /.table-responsive -->
