[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*text[text-anchor="middle"]:first-of-type{
    display: none;
}*/

.fader.ng-enter {
  transition: 0.25s linear all;
  opacity: 0;
}

.fader.ng-enter.ng-enter-active {
  opacity: 1;
}

td {
  line-height: 35px!important;
  vertical-align: middle;
  text-align: center;
}

.detailsSubtitle {
  text-align: left;
  font-weight: bold;
}

@media(min-width:768px) {
  .detailsSubtitle {
    text-align: right;
    font-weight: bold;
  }
}

img.appIcon {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 0.5em;
}

.row-details {
  line-height: 35px;
}

.btn-nav {
  width: auto;
}

.ipHistory {
  display: inline-block;
  color: #333;
  background-color: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 0 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

input.footer-search {
  width: 100%!important;
}

.dataTable {
  width: 100%!important;
}

table tfoot th {
  border-top-width: 3px;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.table tfoot th {
  border-top-width: 3px!important;
  border-left: none!important;
  border-bottom: none!important;
  border-right: none!important;
}

.dataTables_filter {
  display: none!important;
}

.topRight {}

.bottomRight {
  opacity: 0;
}

.dataTables_processing {
  top: 25px!important;
  left: 0!important;
  height: 100%!important;
  width: 100%!important;
  font-size: 2em!important;
  padding: 0!important;
  margin-bottom: 0!important;
  margin-left: -15px!important;
  border: none!important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&0+0,1+40,1+50,1+60,0+100 */
  /* FF3.6-15 */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
  /* IE6-9 */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
}

.loader, .loader:before, .loader:after {
  background: #999;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 100%;
}

.loader:before, .loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  top: 33%;
  left: 50%;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0 #999;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #999;
    height: 5em;
  }
}

@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0 #999;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #999;
    height: 5em;
  }
}

.spinner {
  width: 1em;
  height: 1em;
}

.spinner_large {
  display: block;
  margin: auto;
}

.middleSpinner {
  font-size: 4em;
  display: block;
  width: 1em;
  margin: auto;
}

.fader2 {
  -webkit-transition: linear 0.25s;
  -moz-transition: linear 0.25s;
  -ms-transition: linear 0.25s;
  -o-transition: linear 0.25s;
  transition: linear 0.25s;
}

.fader2.ng-enter {
  opacity: 0;
}

.fader2.ng-enter-active {
  opacity: 1;
}

.fader2.ng-leave {
  opacity: 1;
}

.fader2.ng-leave-active {
  opacity: 0;
}

.frequentErrors li {
  font-size: 1.5em;
  font-weight: bold;
}

.frequentErrors li a {
  color: #d9534f!important;
}

.aBitLarger {
  font-size: 1.25em;
}

.statHighlight {
  color: #337ab7;
  font-weight: bold;
}

.errorHighlight {
  color: #d9534f;
  font-weight: bold;
}

.IPSearchContainer {
  text-align: right;
  margin-bottom: 8px;
}

.IPSCs input {
  width: 80%!important;
  margin-left: 8px;
}

.IPSearchLabel {
  color: #999;
  font-size: 0.75em;
}

.SearchChk {
  color: #999;
  font-size: 0.75em;
}

.SearchChk input {
  margin-right: 8px;
}

.SearchChk label {
  font-weight: bold;
}

table#dataTables-users>tbody>tr>td:first-child {
  font-family: monospace;
  white-space: pre;
  font-size: 0.75em;
}
table#dataTables-errors-requests>tbody>tr>td:nth-child(2) {
  font-family: monospace;
  white-space: pre;
  font-size: 0.75em;
}
table#dataTables-requests>tbody>tr>td:nth-child(3) {
  font-family: monospace;
  white-space: pre;
  font-size: 0.75em;
}

#selectNet {
  margin-left: 8px;
  width: 80%;
  font-size: 0.75em;
  color: #999;
}

.sGraph {
  display: inline-block;
  width: 10em;
  float: right;
  margin-top: -7px;
  margin-right: -11px;
}

.role {
  background-color: #ddd;
  padding: 4px;
  margin: 2px;
  border-radius: 4px;
}

.removeRole {
  margin: 0 0.25em 0 0.5em;
  cursor: pointer;
}

.addRoleInput {
  width: 10em;
  display: inline-block;
}

.changeUserNameInput {
  width: 20em;
  display: inline-block;
}

.addRoleBtn, .changeUserNameBtn {
  margin-left: 0.5em;
}

@media (min-width: 768px) {
  .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
    text-align: inherit;
  }
  .text-left-md {
    text-align: left;
  }
  .text-center-md {
    text-align: center;
  }
  .text-right-md {
    text-align: right;
  }
  .text-justify-md {
    text-align: justify;
  }
}

#contentContainer {
  max-width: 2250px;
}

.navbar-container {
  max-width: 2560px;
}

#panelContainer {
  max-width: 1000px;
}

.alert {
  cursor: pointer;
}

#flagContainer {
  display: inline;
}

.flag {
  width: 2em;
}

.flag.dim {
  filter: grayscale(100%);
  opacity: 0.5;
}

.flag.dim:hover {
  filter: grayscale(0%);
  opacity: 1.0;
  cursor: pointer;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tableEndpoint {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.tableEndpointSmall {
  padding: 0 5px;
}

.hasAccess {
  background-color: #bbff99;
}

.noAccess {
  background-color: #ffaaaa;
}

span.hasAccess {
  display: inline-block;
  border-radius: 4px;
  padding: 2px 4px;
}

span.noAccess {
  display: inline-block;
  border-radius: 4px;
  padding: 2px 4px;
}

span.noAuthRequired {
  display: inline-block;
  background-color: #ddd;
  border-radius: 4px;
  padding: 2px 4px;
}

.tokenCreationServiceContainer {}

.serviceCheckboxesContainer {
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  border-bottom: 1px dashed #ddd;
}

label.endpointChkLabel {
  font-weight: normal;
  cursor: pointer;
}

input.endpointChk {}

.alert {
  cursor: pointer;
}

.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
  *zoom: 1;
}

.preToken {
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
}

.hostContainer {
  background-color: #ddd;
  padding: 1px 2px;
  margin: 0 2px;
  border-radius: 2px;
}

.topContainer {
  margin-top: 2em;
}

.footer-search {
  width: 100%!important;
  text-align: center;
}

.dhms-container {
  font-size: 0.75em;
}

.dhms-d {

}

.dhms-h {

}

.dhms-m {

}

.dhms-s {

}

.donut-legend div {
  text-align: center;
}

.donut-legend div i {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  margin-top: -0.25em;
  vertical-align: middle;
  border-radius: 15px;
}

.userRequestsStatsContainer {
  font-size: 1.5em;
}

.userRequestsStatsLabel {
  color: #666;
  font-size: 0.75em;
}

.top-mistake {
  display: inline-block;
  font-size: 1.5em;
  margin: 0.25em;
  padding: 0.25em;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.top-mistake a span {
  color: #666;
}
#textContainer {
  position: relative;
	margin: 0 auto;
	background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1em;
}
.ipName {
  font-size: 0.75em;
  color: #333;
}
.suggestion {
  color: #5cb85c;
  font-weight: bold;
  margin-right: 1em;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0.5em;
}
._720kb-datepicker-calendar {
  width: 30em;
}
.datepicker-between-text {
  line-height: 34px;
  float: left;
}
.datepicker-errors {
  margin: 0 1em;
  width: 8em;
  display: inline-block;
}
._720kb-datepicker-calendar-day._720kb-datepicker-active {
  background-color: rgb(19, 142, 250);
  border-radius: 2px;
  color: white;
}
._720kb-datepicker-calendar-day:hover {
  background-color: rgba(19, 142, 250, 0.25);
  border-radius: 2px;
}
