<div id="errorsContainer" ng-controller="errorsCtrl">
    <br>

    <div class="row">
        <div class="col-lg-12">
            <span class="datepicker-between-text">{{ trans('req_date_from') }}</span>
            <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd" class="datepicker-errors">
                <input type="text" class="form-control" ng-model="range.dateMin" />
            </datepicker>
            <span class="datepicker-between-text">{{ trans('req_date_to') }}</span>
            <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd" class="datepicker-errors">
                <input type="text" class="form-control" ng-model="range.dateMax" />
            </datepicker>
            <span class="datepicker-between-text">
                <button ng-click="updateAll(true)" class="btn btn-primary"><i class='fa fa-calendar'></i> {{ trans('filter_error_stats')}}</button>
                <button ng-click="clearRange()" class="btn btn-danger"><i class='fa fa-calendar-times-o'></i> {{ trans('remove_range') }}</button>
            </span>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default" style="min-height: 420px">
                <div class="panel-heading">
                    <strong>{{ trans('chart_error_types') }}</strong>
                    &nbsp;
                    <div class="checkbox text-center" style="display: inline-block;"><label><input type="checkbox"
                      ng-model="types.unique"
                      ng-init="types.unique = true"
                      ng-change="graphUpdate()"
                      ng-true-value="true"
                      ng-false-value="false">{{ trans('unique_error_types') }}</label></div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <span class="middleSpinner" ng-hide="errorTypes"><i class="fa fa-spinner fa-spin"></i></span>
                    <div id="chart-error-types-total" style="height: 400px;"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ trans('error_percentage') }}</strong>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <span class="middleSpinner" ng-hide="avgWordCount >= 0"><i class="fa fa-spinner fa-spin"></i></span>
                    <div ng-show="avgWordCount >= 0" class="userRequestsStatsContainer">
                        <span class="userRequestsStatsLabel">{{ trans('request_word_count_avg') }}</span> {{ avgWordCount.toLocaleString() }}<br>
                        <span class="userRequestsStatsLabel">{{ trans('request_error_count_avg') }}</span> {{ avgMistakes.toLocaleString() }}<br>
                        <span class="userRequestsStatsLabel">{{ trans('request_error_percent') }}</span> <span ng-if="avgWordCount != 0">{{ (avgMistakes * 100 / avgWordCount).toLocaleString() }}%</span><span ng-if="avgWordCount == 0">-</span><br>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>{{ trans('error_frequent_pre') }}</strong>
                  <input type="text" class="form-control" style="display: inline-block; width: 4em;"
                  ng-model="topMistakes.limit"
                  ng-enter="topMistakesUpdate()">
                  &nbsp;
                  <strong>{{ trans('error_frequent_post') }}</strong>
                  &nbsp;
                  <div class="checkbox text-center" style="display: inline-block;">
                      <label><input type="checkbox"
                      ng-model="topMistakes.unique"
                      ng-change="topMistakesUpdate()"
                      ng-true-value="true"
                      ng-false-value="false">{{ trans('unique_error_types') }}</label>
                      &nbsp;
                      <label><input type="checkbox"
                      ng-model="topMistakes.toLower"
                      ng-change="topMistakesUpdate()"
                      ng-true-value="true"
                      ng-false-value="false">{{ trans('ignore_caps') }}</label>
                  </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <span class="middleSpinner" ng-hide="topMistakes.data"><i class="fa fa-spinner fa-spin"></i></span>
                    <div id="top-mistakes" ng-show="topMistakes.data">
                        <div ng-if="topMistakes.data.length == 0" class="text-center">-</div>
                        <span class="top-mistake" ng-repeat="e in topMistakes.data">
                            <a href="errors/group/{{ e.id }}">{{ e.suspicious }} <span>({{ e.occurrences }})</span></a>
                        </span>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ trans(title) }}</strong>
                    &nbsp;
                    <div class="checkbox text-center" style="display: inline-block;">
                        <label><input type="checkbox"
                        ng-model="mistakes.unique"
                        ng-change="mistakesUpdate()"
                        ng-true-value="true"
                        ng-false-value="false">{{ trans('unique_error_types') }}</label>
                        &nbsp;
                        <label><input type="checkbox"
                        ng-model="mistakes.toLower"
                        ng-change="mistakesUpdate()"
                        ng-true-value="true"
                        ng-false-value="false">{{ trans('ignore_caps') }}</label>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-errors">
                            <thead>
                                <tr>
                                    <th>suspicious_word</th>
                                    <th>error_type</th>
                                    <th>num_error_occur</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>suspicious_word</th>
                                    <th>error_type</th>
                                    <th>num_error_occur</th>
                                    <th class="bottomRight">actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
