<div id="errorsContainer" ng-controller="errorsCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ trans('errors-group') }}</h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('suspicious_word') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="suspicious"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="suspicious" class="fader2 errorHighlight" ng-bind="suspicious"></span>
        </div>
    </div>
    <!-- /.row -->

    <div ng-show="found !== 0">
        <div class="row row-details">
            <div class="col-sm-3 detailsSubtitle">
                {{ trans('suggestions') }}
            </div>
            <div class="col-sm-9">
                <span ng-hide="suggestions"><i class="fa fa-spinner fa-spin"></i></span>
                <span ng-if="suggestions" class="fader2">
                    <span ng-if="suggestions.length > 0">
                      <span class="suggestion" ng-repeat="suggestion in suggestions" ng-bind="suggestion"></span>
                    </span>
                    <span ng-if="suggestions.length == 0">-</span>
                </span>
            </div>
        </div>
        <!-- /.row -->

        <div class="row row-details">
            <div class="col-sm-3 detailsSubtitle">
                {{ trans('error_type') }}
            </div>
            <div class="col-sm-9">
                <span ng-hide="type"><i class="fa fa-spinner fa-spin"></i></span>
                <span ng-if="type" class="fader2" ng-bind="trans(type)"></span>
            </div>
        </div>
        <!-- /.row -->

        <div class="row row-details">
            <div class="col-sm-3 detailsSubtitle">
                {{ trans('num_total_occur') }}
            </div>
            <div class="col-sm-9">
                <span ng-hide="numOccur"><i class="fa fa-spinner fa-spin"></i></span>
                <span ng-if="numOccur" class="fader2" ng-bind="numOccur"></span>
            </div>
        </div>
        <!-- /.row -->

        <div class="row row-details">
            <div class="col-sm-3 detailsSubtitle">
                {{ trans('num_total_occur_req') }}
            </div>
            <div class="col-sm-9">
                <span ng-hide="numOccurReq"><i class="fa fa-spinner fa-spin"></i></span>
                <span ng-if="numOccurReq >= 0" class="fader2" ng-bind="numOccurReq"></span>
                <span ng-if="errorReqPercent  >= 0" class="fader2" ng-bind="' (' + errorReqPercent + ' ' + trans('all_requests') + ')'"></span>
            </div>
        </div>
        <!-- /.row -->
    </div>

    <hr>

    <div class="row" ng-show="found === 2">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ trans('error_group_requests') }} '{{ suspicious }}'
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-errors-requests">
                            <thead>
                                <tr>
                                    <!--<th>request_id</th>-->
                                    <th>req_time</th>
                                    <th>user_id</th>
                                    <th>num_errors</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <!--<th>request_id</th>-->
                                    <th>req_time</th>
                                    <th>user_id</th>
                                    <th>num_errors</th>
                                    <th class="bottomRight">actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
