<div id="usersContainer" ng-controller="usersCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ trans('stats_for_user_range') }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="panel panel-blue-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3 text-center">
                            <i class="fa fa-users fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <span ng-hide="numUsers >= 0"><i class="fa fa-spinner fa-spin"></i></span>
                                <span ng-if="numUsers >= 0" class="fader2" ng-bind="numUsers.toLocaleString()"></span>
                            </div>
                            <div>{{ trans('users_count') }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 text-center" style="padding-top: 10px;">
                            <i class="fa fa-file-text fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <span ng-hide="numRequests >= 0"><i class="fa fa-spinner fa-spin"></i></span>
                                <span ng-if="numRequests >= 0" class="fader2" ng-bind="numRequests.toLocaleString()"></span>
                            </div>
                            <div>{{ trans('requests_processed') }}</div>
                        </div>
                    </div>
                </div>
                <a href="requests">
                    <div class="panel-footer">
                        <span class="pull-left">{{ trans('details') }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3 text-center">
                          <i class="fa fa-exclamation-circle fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge">
                              <span ng-hide="numMistakesTotal >= 0"><i class="fa fa-spinner fa-spin"></i></span>
                              <span ng-if="numMistakesTotal >= 0" class="fader2" ng-bind="numMistakesTotal.toLocaleString()"></span>
                          </div>
                          <div>{{ trans('errors_found') }}</div>
                      </div>
                  </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div class="huge">
                                <span ng-hide="numUniqueMistakes >= 0"><i class="fa fa-spinner fa-spin"></i></span>
                                <span ng-if="numUniqueMistakes >= 0" class="fader2" ng-bind="numUniqueMistakes.toLocaleString()"></span>
                            </div>
                            <div>{{ trans('errors_found_distinct') }}</div>
                        </div>
                    </div>
                </div>
                <a href="errors">
                    <div class="panel-footer">
                        <span class="pull-left">{{ trans('details') }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3 text-center">
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <span ng-hide="avgProcessingTime >= 0"><i class="fa fa-spinner fa-spin"></i></span>
                                <span ng-if="avgProcessingTime >= 0" class="fader2" ng-bind="avgProcessingTime.toLocaleString() + 's'"></span>
                            </div>
                            <div>{{ trans('avg_processing_time') }}</div>
                        </div>
                    </div>
                    <div ng-show="totalRequestTimeDays" class="row">
                        <div class="col-xs-12 text-right">
                            <div class="huge">
                                <span ng-hide="totalRequestTime >= 0"><i class="fa fa-spinner fa-spin"></i></span>
                                <span ng-if="totalRequestTime >= 0" class="fader2 dhms-container">
                                  <span class="dhms-d" ng-if="totalRequestTimeDays.days > 0">{{ totalRequestTimeDays.days }}{{ trans('days2') }}</span>
                                  <span class="dhms-h" ng-if="totalRequestTimeDays.hours > 0">{{ totalRequestTimeDays.hours }}{{ trans('hours2') }}</span>
                                  <span class="dhms-m" ng-if="totalRequestTimeDays.minutes > 0">{{ totalRequestTimeDays.minutes }}{{ trans('minutes2') }}</span>
                                  <span class="dhms-s" ng-if="totalRequestTimeDays.seconds > 0">{{ totalRequestTimeDays.seconds }}{{ trans('seconds2') }}</span>
                              </span>
                            </div>
                            <div>{{ trans('total_processing_time') }}</div>
                        </div>
                    </div>
                </div>
                <a href="requests">
                    <div class="panel-footer">
                        <span class="pull-left">{{ trans('details') }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ trans(title) }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-users">
                            <thead>
                                <tr>
                                    <th>{{ trans('user') }}</th>
                                    <th>{{ trans('first_appear') }}</th>
                                    <th>{{ trans('last_appear') }}</th>
                                    <th>{{ trans('num_requests') }}</th>
                                    <th>{{ trans('num_errors') }}</th>
                                    <th>{{ trans('last_ip') }}</th>
                                    <th class='topRight'>{{ trans('actions') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>user</th>
                                    <th>first_appear</th>
                                    <th>last_appear</th>
                                    <th>num_requests</th>
                                    <th>num_errors</th>
                                    <th>last_ip</th>
                                    <th class='bottomRight'>actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
