<div id="usersContainer" ng-controller="usersCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ trans('users-details') + ' ' + trans('details_lower') }}</h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('user_name') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="userDetails"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="userDetails" class="fader2">
              <input type="text" class="form-control input-sm changeUserNameInput btn-ajax" ng-model="userDetails.name"><button ng-click="changeUserName(userDetails.id, userDetails.name)" type="button" class="btn btn-default btn-sm changeUserNameBtn btn-ajax">{{ trans('change') }} &nbsp;<i class="fa fa-edit" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('user_id') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="userDetails.id"><i class="fa fa-spinner fa-spin"></i></span>
            <span style="font-family: monospace;" ng-if="userDetails.id" class="fader2" ng-bind="userDetails.id"></span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('user_id_db') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="userDetails.id"><i class="fa fa-spinner fa-spin"></i></span>
            <span style="font-family: monospace;" ng-if="userDetails.id" class="fader2" ng-bind="userDetails.id"></span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('first_appear') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="userDetails.firstAccess"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="userDetails.firstAccess" class="fader2" ng-bind="userDetails.firstAccess.toISOString() + ' (' + userDetails.firstAccess.toLocaleString() + ')'"></span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('last_appear') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="userDetails.lastAccess"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="userDetails.lastAccess" class="fader2" ng-bind="userDetails.lastAccess.toISOString() + ' (' + userDetails.lastAccess.toLocaleString() + ')'"></span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('num_requests') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="userDetails.numberofrequests"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-if="userDetails.numberofrequests" class="fader2" ng-bind="userDetails.numberofrequests"></span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('last_ip') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="userDetails.lastIP"><i class="fa fa-spinner fa-spin"></i></span>
            <span class="ipHistory" ng-if="userDetails.lastIP" class="fader2" >
              {{ userDetails.lastIP.ip }} <span ng-if="userDetails.lastIP.network">({{ userDetails.lastIP.network }})</span>
            </span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('ip_history') }}
        </div>
        <div class="col-sm-9">
            <span ng-hide="userDetails.historyIPnets"><i class="fa fa-spinner fa-spin"></i></span>
            <div ng-if="userDetails.numberofrequests" class="fader2">
                <span class="ipHistory" ng-repeat="ip in userDetails.historyIPnets">
                  {{ ip.ip }} <span ng-if="ip.network">({{ ip.network }})</span>
                </span>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('user_details_requests') }}
        </div>
        <div class="col-sm-9">
            <a href="#" id="reqs-toggler" ng-click="toggleReqs()">{{ trans('open_here') }}</a> |
            <a href="users/{{ userID }}/requests">{{ trans('open_in_new_tab') }}</a>
        </div>
    </div>
    <!-- /.row -->
    <div id="users-requests" class="panel panel-default" style="display: none;">
        <div class="panel-heading">
            {{ trans('users-requests') }} {{ userID }}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <requests ng-if="userDetails" data-admin="userDetails.id"></requests>
        </div>
        <!-- /.panel-body -->
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ trans('chart_error_types') }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <span class="middleSpinner" ng-hide="errorTypes"><i class="fa fa-spinner fa-spin"></i></span>
                    <div id="chart-error-types" style="height: 400px;"></div>
                    <span class="middleSpinner" ng-hide="requestsStats"><i class="fa fa-spinner fa-spin"></i></span>
                    <div ng-show="requestsStats" class="userRequestsStatsContainer">
                        <span class="userRequestsStatsLabel">{{ trans('request_word_count') }}</span> {{ totalWordCount.toLocaleString() }}<br>
                        <span class="userRequestsStatsLabel">{{ trans('request_error_count') }}</span> {{ totalMistakes.toLocaleString() }}<br>
                        <span class="userRequestsStatsLabel">{{ trans('request_word_count_avg') }}</span> {{ avgWordCount.toLocaleString() }}<br>
                        <span class="userRequestsStatsLabel">{{ trans('request_error_count_avg') }}</span> {{ avgMistakes.toLocaleString() }}<br>
                        <span class="userRequestsStatsLabel">{{ trans('request_error_percent') }}</span> {{ ( totalMistakes * 100 / totalWordCount).toLocaleString() }}%<br>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <div class="col-md-12 col-lg-12 col-xl-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ trans('chart_activity_monthly') }}
                    <select class="form-control sGraph" id="selectGraph" ng-model="requestsTimes.selected" ng-change="requestsTimesChange(requestsTimes.selected)">
                        <option value="year">{{ trans('years') }}</option>
                        <option value="month">{{ trans('months') }}</option>
                        <option value="day">{{ trans('days') }}</option>
                    </select>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <span class="middleSpinner" ng-hide="requestsTimes.hasData"><i class="fa fa-spinner fa-spin"></i></span>
                    <div id="chart-activity" style="height: 400px;"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->
</div>
