<div id="usersContainer" ng-controller="usersCtrl">
    <br>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ trans(title) }} {{ userID }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <requests data-admin="userID"></requests>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <script>
    $(document).ready(function() {

    });
    </script>
</div>
