<div ng-controller="adminRolesCtrl">
    <div class="col-md-10">
        <span ng-if="!adminDetails.roles || adminDetails.roles.length == 0">
            {{ $root.trans('no_roles') }}
        </span>
        <span ng-if="adminDetails.roles && adminDetails.roles.length > 0" ng-repeat="r in adminDetails.roles" class="role">{{ r }}<i ng-if="$root.isAdmin" ng-click="removeRole(adminDetails.id, r)" class="fa fa-times removeRole btn-ajax"></i></span>
        <span ng-if="$root.isAdmin">
            <input type="text" class="form-control input-sm addRoleInput" ng-model="adminDetails.newRole"><button ng-click="addRole(adminDetails.id, adminDetails.newRole)" type="button" class="btn btn-default btn-sm addRoleBtn btn-ajax">{{ trans('add_role') }} <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
        </span>
        <!--<div id="roleInfo" class="alert alert-info" style="display: none;" role="alert">{{ $root.trans('relog_to_change_roles') }}</div>-->
    </div>
</div>
