<div id="adminsContainer" ng-controller="adminsCtrl">
    <div class="row">
        <div ng-show="isAdmin" class="col-lg-12 topContainer">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ trans(title) }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-admins">
                            <thead>
                                <tr>
                                    <th>admin_id</th>
                                    <th>email</th>
                                    <th>date_registered</th>
                                    <th>num_tokens</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>admin_id</th>
                                    <th>email</th>
                                    <th>date_registered</th>
                                    <th>num_tokens</th>
                                    <th>actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->

    <div id="adminNotAdminModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ trans('admin_not_admin') }}</h4>
                </div>
                <div class="modal-body">
                    <p><span class="role">admin</span> {{ trans('admin_not_admin_notice') }} <strong>{{ trans(title) }}</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ trans('close') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
