<div id="adminsContainer" ng-controller="adminsCtrl">
    <div class="row">
        <div ng-show="isAdmin" class="col-lg-12">
            <h1 class="page-header">{{ trans(title) }}</h1>

            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-2">
                        <strong>{{trans('admin_id')}}:</strong>
                    </div>
                    <div class="col-md-10">
                        <pre ng-bind="adminDetails.id"></pre>
                    </div>
                </div>
                <div class="col-md-4">
                    <a ng-click="copy(adminId, '#alert-copied-admin')" class="btn btn-default" style="float: right; width: 100%;"><i class="fa fa-copy fa-fw"></i> {{ trans('copy_to_clipboard') }}</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="alert-copied-admin" class="alert alert-info" style="display: none;">{{ trans('id_copied') }}</div>

            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-2">
                        <strong>{{ trans('email') }}:</strong>
                    </div>
                    <div class="col-md-10">
                        {{ adminDetails.email }}
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-2">
                        <strong>{{ trans('password') }}:</strong>
                    </div>
                    <div class="col-md-10">
                        <a href="/reset-password/{{ adminDetails.email }}">{{ trans('change') }}</a>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-2">
                        <strong>{{ trans('tokens') }}:</strong>
                    </div>
                    <div class="col-md-10">
                        <a href="/admins/{{ adminDetails.id }}/tokens">{{ trans('manage') }}</a>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-2">
                        <strong>{{ trans('roles') }}:</strong>
                    </div>
                    <admin-roles admin-details="adminDetails"></admin-roles>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div id="adminNotAdminModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ trans('admin_not_admin') }}</h4>
                </div>
                <div class="modal-body">
                    <p><span class="role">admin</span> {{ trans('admin_not_admin_notice') }} <strong>{{ trans(title) }}</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ trans('close') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
