<div id="loginContainer" ng-controller="loginCtrl">
    <div class="row">
        <div class="col-lg-12">
            <form>
                <h1 class="page-header">{{ trans('login') }}</h1>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="loginEmail" class="h4">{{trans('email')}}</label>
                        <input type="email" name="username" class="form-control" id="loginEmail" placeholder="{{trans('email_placeholder')}}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="loginPassword" class="h4">{{trans('password')}}</label>
                        <input type="password" name="password" class="form-control" id="loginPassword" placeholder="{{trans('password_placeholder')}}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div id="loginSuccess" class="alert alert-success" style="display: none;" role="alert"></div>
                        <div id="loginInfo" class="alert alert-info" style="display: none;" role="alert"></div>
                        <div id="loginWarning" class="alert alert-warning" style="display: none;" role="alert"></div>
                        <div id="loginDanger" class="alert alert-danger" style="display: none;" role="alert"></div>
                    </div>
                </div>
                <button type="submit" id="login-submit" class="btn btn-success btn-lg btn-ajax">{{trans('login')}}</button>
                <a href="register" class="btn btn-default btn-lg btn-ajax">{{trans('register')}}</a>
                <a href="reset-password" class="btn btn-default btn-lg btn-ajax">{{trans('forgot_password')}}</a>
            </form>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
