<div id="panelContainer" ng-controller="panelCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ trans(title) }}</h1>

            <div class="row">
                <div class="col-md-10">
                    <div class="col-md-2 text-right-md" style="line-height: 2.5em;">
                        <strong>{{trans('admin_id')}}:</strong>
                    </div>
                    <div class="col-md-10">
                        <pre ng-bind="adminDetails.id"></pre>
                    </div>
                </div>
                <div class="col-md-2">
                    <a ng-click="copy(adminDetails.id, '#alert-copied-admin')" class="btn btn-default" style="float: right; width: 100%;"><i class="fa fa-copy fa-fw"></i> {{ trans('copy_to_clipboard') }}</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="alert-copied-admin" class="alert alert-info" style="display: none;">{{ trans('id_copied') }}</div>

            <div class="row">
                <div class="col-md-10">
                    <div class="col-md-2 text-right-md">
                        <strong>{{ trans('email') }}:</strong>
                    </div>
                    <div class="col-md-10">
                        {{ email }}
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-10">
                    <div class="col-md-2 text-right-md">
                        <strong>{{ trans('password') }}:</strong>
                    </div>
                    <div class="col-md-10">
                        <a href="reset-password/{{ email }}">{{ trans('change') }}</a>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-10">
                    <div class="col-md-2 text-right-md">
                        <strong>{{ trans('roles') }}:</strong>
                    </div>
                    <admin-roles admin-details="adminDetails"></admin-roles>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-10">
                    <div class="col-md-2 text-right-md">
                        <strong>{{ trans('my_tokens') }}:</strong>
                    </div>
                    <div class="col-md-10">
                        <a href="admins/{{ adminDetails.id }}/tokens">{{ trans('manage') }}</a>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-10">
                    <div class="col-md-2 text-right-md">
                        <strong>{{trans('token')}}:</strong>
                    </div>
                    <div class="col-md-10 text-right">
                        <pre ng-bind="token"></pre>
                    </div>
                </div>
                <div class="col-md-2">
                    <a ng-click="copy(token, '#alert-copied-token')" class="btn btn-default" style="float: right; width: 100%;"><i class="fa fa-copy fa-fw"></i> {{ trans('copy_to_clipboard') }}</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="alert-copied-token" class="alert alert-info" style="display: none;">{{ trans('token_copied') }}</div>

            <br>

            <button type="submit" id="logout-submit" class="btn btn-danger btn-lg">{{ trans('log_out') }}</button>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
