<div id="registerContainer" ng-controller="registerCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ trans(title) }}</h1>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="regEmail" class="h4">{{trans('email')}}</label>
                    <input type="email" name="username" class="form-control" id="regEmail" placeholder="{{trans('email_placeholder')}}" required>
                    <div id="alert-required_email" class="alert alert-danger" style="display: none;" role="alert"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="regPassword1" class="h4">{{trans('password')}}</label>
                    <input type="password" name="password" class="form-control" id="regPassword1" placeholder="{{trans('password_placeholder')}}" required>
                    <div id="alert-required_password" class="alert alert-danger" style="display: none;" role="alert"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="regPassword2" class="h4">{{trans('password_confirm')}}</label>
                    <input type="password" class="form-control" id="regPassword2" placeholder="{{trans('password_confirm_placeholder')}}" required>
                    <div id="alert-confirm_password" class="alert alert-danger" style="display: none;" role="alert"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div id="regSuccess" class="alert alert-success" style="display: none;" role="alert"></div>
                    <div id="regInfo" class="alert alert-info" style="display: none;" role="alert"></div>
                    <div id="regWarning" class="alert alert-warning" style="display: none;" role="alert"></div>
                    <div id="regDanger" class="alert alert-danger" style="display: none;" role="alert"></div>
                </div>
            </div>

            <button type="submit" id="registration-submit" class="btn btn-success btn-lg btn-ajax">{{trans('register')}}</button>
            <a href="login" class="btn btn-default btn-lg btn-ajax">{{trans('login')}}</a>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
