<div id="resetPwdContainer" ng-controller="resetPwdCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ trans(title) }}</h1>

            <div ng-show="isAdmin">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="rstId" class="h4">{{trans('admin_id')}}</label>
                        <input type="text" name="adminId" class="form-control" id="rstId" placeholder="{{trans('admin_id_placeholder')}}" required ng-model="resetId">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="rstToken" class="h4">{{trans('reset_token')}}</label>
                        <input type="text" name="resetToken" class="form-control" id="rstToken" placeholder="{{trans('reset_token_placeholder')}}" required ng-model="resetToken">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="rstEmail" class="h4">{{trans('email')}}</label>
                    <input type="email" name="username" class="form-control" id="rstEmail" placeholder="{{trans('email')}}" required ng-model="resetEmail">
                    <div id="alert-required_email" class="alert alert-danger" style="display: none;" role="alert"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="rstPassword1" class="h4">{{trans('new_password')}}</label>
                    <input type="password" name="password" class="form-control" id="rstPassword1" placeholder="{{trans('password_placeholder')}}" required>
                    <div id="alert-required_password" class="alert alert-danger" style="display: none;" role="alert"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="rstPassword2" class="h4">{{trans('password_confirm')}}</label>
                    <input type="password" class="form-control" id="rstPassword2" placeholder="{{trans('password_confirm_placeholder')}}" required>
                    <div id="alert-confirm_password" class="alert alert-danger" style="display: none;" role="alert"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div id="rstSuccess" class="alert alert-success" style="display: none;" role="alert"></div>
                    <div id="rstInfo" class="alert alert-info" style="display: none;" role="alert"></div>
                    <div id="rstWarning" class="alert alert-warning" style="display: none;" role="alert"></div>
                    <div id="rstDanger" class="alert alert-danger" style="display: none;" role="alert"></div>
                </div>
            </div>

            <button type="submit" id="reset-submit" class="btn btn-success btn-lg btn-ajax">{{trans('reset_password')}}</button>
            <a href="reset-password" class="btn btn-default btn-lg btn-ajax">{{trans('reset_password_request')}}</a>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
