<div id="resetPwdReqContainer" ng-controller="resetPwdCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ trans(title) }}</h1>

            <!--<div class="row">
                <div class="form-group col-md-6">
                    {{ trans('reset_password_info') }}:
                </div>
            </div>-->

            <div class="row" ng-show="!resetId">
                <div class="form-group col-md-6">
                    <label for="rstToken" class="h4">{{trans('email')}}</label>
                    <input type="text" name="resetToken" class="form-control" id="rstToken" placeholder="{{trans('email_placeholder')}}" required ng-model="resetEmail">
                </div>
            </div>
            <div class="row" ng-show="!resetEmail">
                <div class="form-group col-md-6">
                    <label for="rstId" class="h4">{{trans('admin_id')}}</label>
                    <input type="text" name="adminId" class="form-control" id="rstId" placeholder="{{trans('admin_id_placeholder')}}" required ng-model="resetId">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div id="rstSuccess" class="alert alert-success" style="display: none;" role="alert"></div>
                    <div id="rstInfo" class="alert alert-info" style="display: none;" role="alert"></div>
                    <div id="rstWarning" class="alert alert-warning" style="display: none;" role="alert"></div>
                    <div id="rstDanger" class="alert alert-danger" style="display: none;" role="alert"></div>
                </div>
            </div>

            <button type="submit" id="reset-submit" class="btn btn-success btn-lg btn-ajax">{{trans('reset_password')}}</button>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
