<pre class="col-md-8" ng-bind="tokenDetails.token"></pre>
<div class="col-md-4" style="padding-right: 0;">
<button type="button" ng-click="$root.copy(tokenDetails.token, '#alert-copied')" class="btn btn-default" style="float: right; width: 100%;">
<i class="fa fa-copy fa-fw"></i>
{{ $root.trans('copy_to_clipboard') }}</button>
</div>
<div class="clearfix"></div>
<div id="alert-copied" class="alert alert-info" style="display: none;">{{ $root.trans('token_copied') }}</div>
<div class="clearfix"></div>
<strong>{{ $root.trans('admin') }}:</strong>
<a href="admins/{{ tokenDetails.admin }}" ng-bind="tokenDetails.admin"></a>
<br>
<strong>{{ $root.trans('issued_at') }}:</strong>
<span ng-bind="tokenDetails.iat"></span>
<br>
<strong>{{ $root.trans('expires_at') }}:</strong>
<span ng-bind="tokenDetails.exp"></span>
<br>
<strong>{{ $root.trans('token_type') }}:</strong>
<span ng-bind="$root.trans(tokenDetails.tokenType)"></span>
<br>
<strong>{{ $root.trans('hosts') }}:</strong>
<span ng-repeat="h in tokenDetails.hosts" class="hostContainer">{{ h }}</span>
<br>
<strong>{{ $root.trans('srv_endpoints') }}:</strong>
<span ng-repeat="e in tokenDetails.endpoints" class="hostContainer">{{ e.method }}
{{ e.uri }}</span>
<br>
