<div id="tokensContainer" ng-controller="tokensCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ trans(title) }}</h1>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#availableServices" aria-controls="availableServices" role="tab" data-toggle="tab">{{trans('available_srv')}}</a>
                </li>
                <li role="presentation">
                    <a href="#tokenCreation" aria-controls="tokenCreation" role="tab" data-toggle="tab">{{trans('token_creation')}}</a>
                </li>
                <li role="presentation">
                    <a href="#tokenList" aria-controls="tokenList" role="tab" data-toggle="tab">
                        <span ng-if="!isAdmin">
                            {{trans('my_tokens')}}
                        </span>
                        <span ng-if="isAdmin">
                            {{trans('list_tokens')}}
                        </span>
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- AVAILABLE SERVICES -->
                <div role="tabpanel" class="tab-pane fade in active" id="availableServices">
                    <br>
                    {{trans('colour_coding')}}:
                    <span style="font-weight: normal;">
                        <span class="noAuthRequired">{{trans('no_auth')}}</span>
                        <span class="hasAccess">{{trans('accessible')}}</span>
                        <span class="noAccess">{{trans('no_access')}}</span>
                    </span>
                    <br>
                    <br>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>{{trans('srv_name')}}</th>
                                <th>{{trans('srv_desc')}}</th>
                                <th>{{trans('srv_endpoints')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="s in availableServices">
                                <td>{{ s.name }}</td>
                                <td>{{ s.description }}</td>
                                <td>
                                    <div ng-class="endpointRowClass(e)" ng-repeat="e in s.endpoints">
                                        {{ e.method }}
                                        {{ e.uri }}
                                        <br>
                                        {{ e.description }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- TOKEN CREATION -->
                <div role="tabpanel" class="tab-pane fade" id="tokenCreation">
                    <br>
                    {{trans('token_permissions')}}:
                    <br>
                    <br>
                    <div class="serviceCheckboxesContainer" ng-repeat="s in availableServices">
                        <div class="tokenCreationServiceContainer" ng-class="endpointRowClass(e)" ng-repeat="e in s.endpoints">
                            <label class="endpointChkLabel">
                                <input class="endpointChk" type="checkbox" value="{ 'name': '{{s.name}}', 'uri': '{{e.uri}}', 'method': '{{e.method}}' }" ng-disabled="{{endpointChkDisabled(e)}}">
                                {{ e.method }}
                                {{ e.uri }}
                                <br>
                            </label>
                        </div>
                    </div>
                    <br>
                    {{trans('token_hosts')}}:
                    <br>
                    <br>
                    <div>
                        <div ng-repeat="i in getNumHosts(numHosts) track by $index">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control allowedHosts" placeholder="localhost" required>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <button type="button" ng-if="canAdd" id="host_add" ng-click="hostAdd()" class="btn btn-success btn-md btn-ajax">{{trans('host_add')}}</button>
                            <button type="button" ng-if="canRemove" id="host_remove" ng-click="hostRemove()" class="btn btn-danger btn-md btn-ajax">{{trans('host_remove')}}</button>
                        </div>
                    </div>
                    <div class="cf"></div>
                    <br>
                    <button type="submit" ng-click="createToken()" id="token-create-submit" class="btn btn-primary btn-lg btn-ajax">{{trans('create_token')}}</button>
                    <br>
                    <br>
                    <div id="tokenAlert" class="alert alert-danger alert-token-creation" style="display: none;" role="alert"></div>
                </div>

                <!-- TOKEN LIST -->
                <div role="tabpanel" class="tab-pane fade" id="tokenList">
                    <br>
                    <div ng-if="isAdmin">
                        <label for="adminSelect" class="control-label" style="display: inline-block; font-weight: normal;">{{trans('by_admin')}}:
                        </label>
                        <select class="form-control" style="display: inline-block; width: auto" id="adminSelect" ng-change="changeAdmin()" ng-model="selectedAdmin">
                            <option ng-repeat="admin in admins" value="{{ admin.id }}">{{ admin.email }}</option>
                        </select>
                    </div>
                    <div ui-view="token-list"></div>
                </div>
            </div>

            <!-- NEW TOKEN DETAILS -->
            <div id="newTokenDetailsModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ trans('token_details') }}</h4>
                        </div>
                        <div class="modal-body">
                            <token-details token-data="tokenDetails"></token-details>
                            <br>
                            <div id="tokenSuccess" class="alert alert-success alert-token-creation" style="display: none;" role="alert"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ trans('close') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
