<div id="tokensListContainer">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ trans('manage_tokens_by_admin') }} <a href="admins/{{ adminId }}">{{ adminId }}</a></a></h1>

            {{ trans('num_tokens') }}:
            {{ tokens.length }}
            <button type="button" ng-click="refresh()" class="btn btn-primary btn-xs btn-ajax"><i class="fa fa-refresh" aria-hidden="true"></i> {{ trans('refresh') }}</button>
            <br>
            <br>
            <table class="table table-striped table-bordered table-hover" ng-if="tokens.length > 0">
                <thead>
                    <tr>
                        <th>{{ trans('srv_endpoints') }}</th>
                        <th style="width: 15em;">{{ trans('actions') }}</th>
                    </tr>
                </thead>
                <tbdoy>
                    <tr ng-repeat="t in tokens">
                        <td>
                            <div class="tableEndpoint tableEndpointSmall" ng-repeat="e in t.endpoints">
                                {{ e.method }}
                                {{ e.uri }}
                            </div>
                        </td>
                        <td>
                            <button type="button" ng-click="getTokenDetails(t.token, true)" data-toggle="modal" data-target="#tokenDetailsModal" class="btn btn-primary btn-md btn-ajax">{{trans('details')}}</button>
                            <button type="button" ng-hide="!isAdmin" ng-click="tokenRevoke(t.token, true)" class="btn btn-danger btn-md btn-ajax">{{trans('revoke')}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-if="stateName == 'admins.tokens'" id="tokenDetailsModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ trans('token_details') }}</h4>
                        </div>
                        <div class="modal-body">
                            <token-details token-data="tokenDetails"></token-details>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ trans('close') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

<div id="tokenDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ trans('token_details') }}</h4>
            </div>
            <div class="modal-body">
                <token-details token-data="tokenDetails"></token-details>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ trans('close') }}</button>
            </div>
        </div>
    </div>
</div>
