<div id="homeContainer" ng-controller="homeCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ trans(title) }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <span ng-hide="numUsers >= 0"><i class="fa fa-spinner fa-spin"></i></span>
                                <span ng-if="numUsers >= 0" class="fader2" ng-bind="numUsers.toLocaleString()"></span>
                            </div>
                            <div>{{ trans('users_count') }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ config.baseUrl + 'users' }}">
                    <div class="panel-footer">
                        <span class="pull-left">{{ trans('details') }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-file-text fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <span ng-hide="numRequests >= 0"><i class="fa fa-spinner fa-spin"></i></span>
                                <span ng-if="numRequests >= 0" class="fader2" ng-bind="numRequests.toLocaleString()"></span>
                            </div>
                            <div>{{ trans('requests_processed') }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ config.baseUrl + 'requests' }}">
                    <div class="panel-footer">
                        <span class="pull-left">{{ trans('details') }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-exclamation-circle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <span ng-hide="numUniqueMistakes >= 0"><i class="fa fa-spinner fa-spin"></i></span>
                                <span ng-if="numUniqueMistakes >= 0" class="fader2" ng-bind="numUniqueMistakes.toLocaleString()"></span>
                            </div>
                            <div>{{ trans('errors_found_distinct') }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ config.baseUrl + 'errors' }}">
                    <div class="panel-footer">
                        <span class="pull-left">{{ trans('details') }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-times-circle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <span ng-hide="numMistakesTotal >= 0"><i class="fa fa-spinner fa-spin"></i></span>
                                <span ng-if="numMistakesTotal >= 0" class="fader2" ng-bind="numMistakesTotal.toLocaleString()"></span>
                            </div>
                            <div>{{ trans('errors_found') }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ config.baseUrl + 'errors' }}">
                    <div class="panel-footer">
                        <span class="pull-left">{{ trans('details') }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <span ng-hide="avgProcessingTime >= 0"><i class="fa fa-spinner fa-spin"></i></span>
                                <span ng-if="avgProcessingTime >= 0" class="fader2" ng-bind="avgProcessingTime.toLocaleString() + 's'"></span>
                            </div>
                            <div>{{ trans('avg_processing_time') }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ config.baseUrl + 'requests' }}">
                    <div class="panel-footer">
                        <span class="pull-left">{{ trans('details') }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
